@import url('./styles/theme.css');

/* BUTTONS */
.button-yellow-long, .button-gray-long,
.button-yellow-big, .button-gray-big{
  padding: 10px 15px 10px 15px;
  width: 320px;
  border-radius: 5px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.button-yellow-long, .button-yellow-big{
  background-color: var(--primary_yellow);
  color: var(--black);
  border: 4px solid var(--primary_yellow);
}

.button-gray-long, .button-gray-big{
  background-color: var(--gray);
  color: var(--white);
  border: 4px solid var(--gray);
}

.button-yellow-big, .button-gray-big{
  height: 55px;
}