@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
  /* COLOURS */
  /* blues */
  --light_blue: #31325D;
  --dark_blue: #232635;
  --medium_blue: #3C3D62;

  /* yellows */
  --primary_yellow: #FED138;

  /* blacks */
  --black: black;

  /* grays */
  --gray: #494A60;

  /* whites*/
  --white: white;

  /* FONT */
  --standard_font: 'Roboto', sans-serif;
}